<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="contact.css">
</head>

<body>

    <div class="container">
        <%- include("./partials/header.ejs",{home:"",about:"",contact:"active",search:"d-none"})  -%> 

        <div class="jumbotron border border-dark rounded mt-5">
            <div class="container">
                <h1 class="display-1 text-center font-weight-bold">Contact Us</h1>
                <form>
                    <div class="row">
                      <div class="col-4">
                        <input type="text" class="form-control border-dark br" placeholder="Frist name">
                      </div>
                      <div class="col-4">
                        <input type="text" class="form-control border-dark br" placeholder="Last name">
                      </div>
                      <div class="col-4">
                        <input type="email" class="form-control border-dark br" placeholder="email">
                      </div>
                     <div class="col-12 mt-2">
                        <textarea class="form-control border-dark br" placeholder="Description…" id="exampleFormControlTextarea1" rows="5"></textarea>
                     </div>
                     <div class="col-12 mt-2">
                        <button type="submit" class="btn btn-dark br">Send</button>
                     </div>
                     
                    </div>
                  </form>
                <!-- <p class="lead text-center font-italic">This is a modified jumbotron that occupies the entire horizontal
                    space of its parent. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti alias
                    explicabo mollitia praesentium pariatur dolorum voluptas fuga id, fugit aspernatur. Nobis quae
                    dolorem atque eveniet explicabo quisquam magnam maxime! Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Eaque nulla minima atque nesciunt dolorem dolore. Culpa et sed nulla corrupti
                    quibusdam eligendi fuga velit. Soluta sequi aperiam a incidunt exercitationem. Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit. Enim corrupti modi facilis repellendus asperiores fuga
                    officiis magnam, doloremque quam culpa. Assumenda quisquam repellat numquam doloremque! Eum
                    cupiditate eius molestiae beatae!</p> -->
            </div>
        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>