<nav class="navbar-expand-lg navbar navbar-dark bg-dark bg-aqua">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= home %>  ">
                <a class="nav-link" href="/home"><i class="fa fa-home mr-1"></i>Home
                </a>
            </li>
            <li class="nav-item <%= contact %> ">
                <a class="nav-link" href="/contact"><i class="fa fa-phone mr-1"></i>Cantact</a>
            </li>
            <li class="nav-item <%= about %> ">
                <a class="nav-link" href="/about"><i class="fa fa-exclamation-circle mr-1"></i>About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 <%= search %>" method="GET" action="home">
            <input class="form-control mr-sm-2" type="search" name="filter" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>